body {
  background-color: dimgrey;
}

img {
  max-width: 100%;
}

h1 {
  font-family: 'La Belle Aurore', cursive;
}

p {
  margin-top: 5%;
}

ul {
  margin-top: 5%;
  font-size: large;
  color: dimgrey;
}

li {
  margin-top: 2.5%;
}

#references {
  width: 100%;
  background-color: #cfb4a3;
  margin-top: 5%;

  border-color: dimgrey;
  border-radius: 5px;
  border-style: dashed;
}

#references p {
  font-size: small;
  margin-left: 30px;
  margin-bottom: 5%;
}

.jumbotron {
  background-color: #fad9c4;
}

a {
  cursor: pointer;
}