<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="mg-10">Chocolate Chip Cookies</h1>

        <img src="images/jar.jpeg"/>
    
        <div>
          <p>
            Mix the dry ingredients in your cookie jar until blended. Then, beat in the following wet ingredients:
          </p>
          <ul>
            <li>
              1/2 <small>1/16</small> cups of melted butter
            </la>
            <li>
              3/4 tbsp of vanilla extract
            </li>
            <li>
              1 medium egg yolk
            </li>
            <li>
              1 medium egg
            </li>
          </ul>
          <p>
            Finally, place cookies on a baking sheet greased or lined with wax paper and bake at 325 ℃ (165 ℉) for around 15 minutes.
          </p>
        </div>
        <div id="references">
          <p>
            Inspired by <a href-"https://smittenkitchen.com/2009/03/crispy-chewy-chocolate-chip-cookies/">this recipe</a> from Smitten Kitchen.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
