<!DOCTYPE html>
<html>
  <head>
    <%- include ("../partials/header.ejs") %>
  </head>

  <body>
    <img src="images/wreath.png" id="img0"/>
    <img src="images/wreath1.png" id="img1"/>
    <img src="images/wreath2.png" id="img2"/>
    <img src="images/wreath3.png" id="img3"/>
    <img src="images/wreath4.png" id="img4"/>
    <img src="images/wreath5.png" id="img5"/>
  </body>

  <footer>
    <script type="text/javascript" src="js/toggle.js"></script>
  </footer>
</html>
